<h1>Listing topics</h1>

<div class="well"><%= link_to fa_icon("plus", text: "New topic"), new_post_path, class: "btn btn-success" %></div>

<div class="list-group">
<% @posts.each do |post| %>
    <div class="list-group-item">
        <div class="pull-right btn-group">
            <%= link_to fa_icon("edit", title: "Edit"), edit_post_path(post), class: "btn btn-warning btn-sm" %>
            <%= link_to fa_icon("remove", title: "Delete"), post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </div>
        <h2 class="list-group-item-heading"><%= link_to post.title, post %></h2>
        <p class="list-group-item-text">
            <%= link_to fa_icon("comment", text: post.post_comments.length.to_s + " comments"), post %>
        </p>
    </div>
<% end %>
</div>
