<h1>Listing posts</h1>

<div class="button-panel"><%= link_to fa_icon("plus", text: "New Post"), new_post_path, class: "btn btn-success" %></div>

<div class="container">
    <% @posts.each do |post| %>
        <div class="panel">
            <div class="panel-heading"><h2><%= post.title %></h2></div>
            <div class="panel-body"><%= markdown(post.body) %></div>
            <div class="button-panel">
                <%= link_to fa_icon("asterisk", text: 'Show'), post, class: "btn" %>
                <%= link_to fa_icon("edit", text: 'Edit'), edit_post_path(post), class: "btn" %>
                <%= link_to fa_icon("remove", text: 'Destroy'), post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></div>
        </div>
    <% end %>
</div>

