<h1>Listing posts</h1>


<div class="well"><%= link_to fa_icon("plus", text: "New Post"), new_post_path, class: "btn btn-success" %></div>

<% @posts.each do |post| %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right btn-group well well-sm">
                <%= link_to fa_icon("asterisk", title: "Show"), post, class: "btn btn-success" %>
                <%= link_to fa_icon("edit", title: "Edit"), edit_post_path(post), class: "btn btn-warning" %>
                <%= link_to fa_icon("remove", title: "Delete"), post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </div>
            <h2 class="panel-title"><%= link_to post.title, post %> <span class="badge"><%#post.comments.length %></span></h2>
        </div>
        <div class="panel-body">
            <div class="body">
                <%= markdown(post.body) %>
            </div>
        </div>
    </div>
<% end %>
