<% if notice %>
    <p id="notice" class="alert alert-info"><i class="fa fa-info-circle"></i> <%= notice %></p>
<% end %>
<div class="well">
    <%= link_to fa_icon("edit", text: 'Edit'), edit_post_path(@post), class: 'btn btn-warning' %>
    <%= link_to fa_icon("undo", text: 'Back'), posts_path, class: 'btn btn-default' %>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h1>
            <%= @post.title %>
            <% if @post.user %>
                <small><i>by</i> <%= @post.user.try(:name) %></small>
            <% else %>
                <small><i>by Anonymous zombie</i>
            <% end %>
        </h1>

        <p>
        <%= markdown(@post.body) %>
        </p>

        <section class="comments well" role="comments">
            <% unless @post.post_comments.length == 0 %>
                <h2>Comments</h2>
                <% render @post.post_comments %>
            <% end %>

            <h2>Add comments</h2>

            <% render "post_comments/form" %>

        </section>
    </div>
</div>
