<p id="notice"><%= notice %></p>

<h2>
  <%= @post.title %>
</h2>

<p>
  <%= @post.body %>
</p>

<%= link_to fa_icon("edit", text: 'Edit'), edit_post_path(@post), class: 'btn' %>
<%= link_to fa_icon("undo", text: 'Back'), posts_path, class: 'btn' %>
