<div class="well">
    <%= link_to fa_icon("edit", text: 'Edit'), edit_post_path(@post), class: 'btn btn-warning' %>
    <%= link_to fa_icon("undo", text: 'Back'), posts_path, class: 'btn btn-default' %>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h1>
            <%= @post.title %>
            <% if @post.user %>
                <small><i>by</i> <%= @post.user.try(:name) %></small>
            <% else %>
                <small><i>by Anonymous zombie</i></small>
            <% end %>
        </h1>

        <p>
        <%= markdown(@post.body) %>
        </p>

        <section class="comments" role="comments">
            <div class="well">
                <% unless @post.post_comments.empty? %>

                    <h2>Comments</h2>

                    <%= render @post.post_comments %>

                <% end %>

                <h2>Add comment</h2>

                <%= render partial: "post_comments/form" %>
            </div>

        </section>
    </div>
</div>
