<% if notice %>
    <p id="notice" class="alert alert-info"><i class="fa fa-info-circle"></i> <%= notice %></p>
<% end %>
<div class="well">
    <%= link_to fa_icon("edit", text: 'Edit'), edit_post_path(@post), class: 'btn btn-warning' %>
    <%= link_to fa_icon("undo", text: 'Back'), posts_path, class: 'btn btn-default' %>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h1>
            <%= @post.title %>
        </h1>

        <p>
        <%= markdown(@post.body) %>
        </p>
    </div>
</div>
